html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   flex: 1 0 auto;
}

@keyframes bounce-background {
   from {
       background-position: left;
   }
   50% {
       background-position: bottom;
   }
   to {
       background-position: right;
   }
}
#gameMain {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   min-height: 50%;
   margin-top:5%;
}
header {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   text-align: center;
}

#swal2-title {
   font-family: 'Roboto', sans-serif;
   font-family: 'Baloo Chettan 2', cursive;
}

#swal2-content {
   font-family: 'Roboto', sans-serif;
   font-family: 'Baloo Chettan 2', cursive;
}

.footer {
   min-height: 10%;
   max-height: 10%;
   margin-top: 5%;
}

#settingsPanel {
   display:none;
}

#scorePanel{
   display:none;
}

.button {
   border-radius: 12px;
   font-size:large;
}

.background {
   background-image: url('../images/background.svg');
   animation-name: bounce-background;
   animation-timing-function: ease-in-out;
   animation-duration: 30s;
   animation-iteration-count: infinite;

   /* For Chrome & Safari */
  -webkit-animation-name: bounce-background;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-duration:30s;
  -webkit-animation-iteration-count:infinite;
}

#score {
   text-align: left;
}

.flex {
   flex: 0 1 40px;
 }

.base-font {
   font-family: 'Roboto', sans-serif;
   font-family: 'Baloo Chettan 2', cursive;
   color: #fff;
}

.container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   text-align: center;
}

.container-even-spaced {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   text-align: center;
}


.bottom-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   flex-grow : 0;
   flex-shrink: 1;
   margin-top:2%;

}

.menuButton {
   height:128px;
   width:128px;
   border: #333;
   border-style:solid;
}

.matchItem img {
   height: 90px;
   width: 90px;
   padding-bottom: 20%;
}

header, main, footer {
   flex-shrink: 0;
}
 
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
   visibility: hidden; /* Hidden by default. Visible on click */
   min-width: 250px; /* Set a default minimum width */
   margin-left: -125px; /* Divide value of min-width by 2 */
   background-color: #333; /* Black background color */
   color: #fff; /* White text color */
   text-align: center; /* Centered text */
   border-radius: 2px; /* Rounded borders */
   padding: 16px; /* Padding */
   position: fixed; /* Sit on top of the screen */
   z-index: 1; /* Add a z-index if needed */
   left: 50%; /* Center the snackbar */
   bottom: 30px; /* 30px from the bottom */
 }
 
 /* Show the snackbar when clicking on a button (class added with JavaScript) */
 #snackbar.show {
   visibility: visible; /* Show the snackbar */
   /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
   font-family: 'Roboto', sans-serif;
   font-family: 'Baloo Chettan 2', cursive;
   color: #fff;
 }
 
 /* Animations to fade the snackbar in and out */
 @-webkit-keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
 }
 
 @keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
 }
 
 @-webkit-keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
 }
 
 @keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
 }